@font-face {
  font-family: "Pretendard";
  font-size: normal;
  src: url(./Pretendard-Black.otf) format("otf");
}

@font-face {
  font-family: "Pretendard";
  font-weight: bold;
  src: url(./Pretendard-Bold.otf) format("otf");
}

@font-face {
  font-family: "Pretendard";
  src: url(./Pretendard-ExtraBold.otf) format("otf");
}

@font-face {
  font-family: "Pretendard";
  src: url(./Pretendard-Light.otf) format("otf");
}

@font-face {
  font-family: "Pretendard";
  src: url(./Pretendard-Medium.otf) format("otf");
}
@font-face {
  font-family: "Pretendard";
  src: url(./Pretendard-Regular.otf) format("otf");
}
